@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header .left-links, .header .right-links, .footer .left-links, .footer .right-links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.footer {
  background-color: lightgray;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

img {
  width: 600px;
  flex-shrink: 0
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  height: 32px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

