/* Add CSS Styling */

.odd {
    background-color: pink;
    font: "Verdana", "DejaVu Sans", sans-serif
}

#number2 {
    color: blue;
    font-size: 36px
}

.adjustfontsize {
    font-size: 24px
}

#number4{
    background-color: lightgreen;
    font-weight: bold
}