body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
  border:  black
}

.title,
.content,
.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px
}

.button-container{
  text-align: center;
  margin-bottom: 10px
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding: 10px 20px 10px 20px
}